<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503811901316-nu5psv5qqht26fcpa5e1v6v0u5busnn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503811901316-nu5psv5qqht26fcpa5e1v6v0u5busnn1</string>
	<key>API_KEY</key>
	<string>AIzaSyCIJf2dQ_A5Ih6LydGDzXPvVOqjiwGDjk8</string>
	<key>GCM_SENDER_ID</key>
	<string>503811901316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eveno</string>
	<key>PROJECT_ID</key>
	<string>evone-d86ea</string>
	<key>STORAGE_BUCKET</key>
	<string>evone-d86ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503811901316:ios:de47cf7927d6551945bfd1</string>
</dict>
</plist>